/*
* ---------------------------------------------------
* Table Of Contents
* ---------------------------------------------------
Facebook
Twitter
Tumblr
Instagram
LinkedIn
Flickr
Ticktok
500px
Twitch
YouTube
Vimeo
SoundCloud
Behance
Dribbble
VK
Pinterest
Foursquare
vine
Github
*/

/* 
============================================
Facebook Colors 
============================================
*/
.scoda-facebook-color {
	color: #3b5998;
}
.scoda-facebook-bg {
	background-color: #3b5998;
}


/* 
============================================
Twitter Colors 
============================================
*/
.scoda-twitter-color {
	color: #00aced;
}
.scoda-twitter-bg {
	background-color: #00aced;
}

/* 
============================================
Tumblr Colors 
============================================
*/
.scoda-tumblr-color {
	color: #32506d;
}
.scoda-tumblr-bg {
	background-color: #32506d;
}

/* 
============================================
Instagram Colors 
============================================
*/
.scoda-instagram-color {
	color: #517fa4;
}
.scoda-instagram-bg {
	background-color: #517fa4;
}

/* 
============================================
LinkedIn Colors 
============================================
*/
.scoda-linkedin-color {
	color: #007bb6;
}
.scoda-linkedin-bg {
	background-color: #007bb6;
}

/* 
============================================
Flickr Colors 
============================================
*/
.scoda-flickr-color {
	color: #ff0084;
}
.scoda-flickr-bg {
	background-color: #ff0084;
}

/* 
============================================
TikTok Colors 
============================================
*/
.scoda-tiktok-color {
	color: #000000;
}
.scoda-tiktok-bg {
	background-color: #000000;
}

/* 
============================================
500px Colors 
============================================
*/
.scoda-500px-color {
	color: #17aeef;
}
.scoda-500px-bg {
	background-color: #17aeef;
}

/* 
============================================
Twitch Colors 
============================================
*/
.scoda-twitch-color {
	color: #624a9f;
}
.scoda-twitch-bg {
	background-color: #624a9f;
}

/* 
============================================
YouTube Colors 
============================================
*/
.scoda-youtube-color {
	color: #bb0000;
}
.scoda-youtube-bg {
	background-color: #bb0000;
}

/* 
============================================
vimeo Colors 
============================================
*/
.scoda-Vimeo-color {
	color: #27b1e4;
}
.scoda-Vimeo-bg {
	background-color: #27b1e4;
}

/* 
============================================
SoundCloud Colors 
============================================
*/
.scoda-soundcloud-color {
	color: #f35539;
}
.scoda-soundcloud-bg {
	background-color: #f35539;
}

/* 
============================================
Behance Colors 
============================================
*/
.scoda-behance-color {
	color: #2072f7;
}
.scoda-behance-bg {
	background-color: #2072f7;
}

/* 
============================================
Dribbble Colors 
============================================
*/
.scoda-dribbble-color {
	color: #eb5789;
}
.scoda-dribbble-bg {
	background-color: #eb5789;
}

/* 
============================================
Vk Colors 
============================================
*/
.scoda-vk-color {
	color: #43638a;
}
.scoda-vk-bg {
	background-color: #43638a;
}

/* 
============================================
Pinterest Colors 
============================================
*/
.scoda-pinterest-color {
	color: #cb2027;
}
.scoda-pinterest-bg {
	background-color: #cb2027;
}

/* 
============================================
Foursquare Colors 
============================================
*/
.scoda-foursquare-color {
	color: #0072b1;
}
.scoda-foursquare-bg {
	background-color: #0072b1;
}

/* 
============================================
Vine Colors 
============================================
*/
.scoda-vine-color {
	color: #00bf8f;
}
.scoda-vine-bg {
	background-color: #00bf8f;
}

/* 
============================================
Github Colors 
============================================
*/
.scoda-github-color {
	color: #171516;
}
.scoda-github-bg {
	background-color: #171516;
}

